.header__menu-item {
  margin-right: 35px;
}

.header__menu-item:nth-child(3) {
  margin-right: auto;
}

.header__menu-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__menu-item {
    margin: 0 0 15px;
  }
}