.form__button {
  color: #fff;
  align-self: flex-end;
  background-color: #000;
  border: none;
  font-size: 12px;
  padding: 8px;
}

.form__button:hover {
  transition: opacity .3s ease-in-out;
  opacity: .3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form__button {
    margin-bottom: 20px;
  }
}