.places__container {
  display: flex;
  align-items: center;
}

.places__container:nth-last-of-type(2) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .places__container {
    flex-direction: column;
  }

  .places__container:nth-last-of-type(2) {
    flex-direction: column;
  }
}