.people-say__flex-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2*65px);
  margin: 120px 0 120px;
}

@media screen and (max-width: 767px) {
  .people-say__flex-container {
    margin: 60px 0 60px;
    width: calc(100% - 2*25px);
  }
}