.people-say__item-title {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 0 25px;
}

@media screen and (max-width: 767px) {
  .people-say__item-title {
    margin-bottom: 10px;
  }
}