.video__text {
  position: absolute;
  top: 110px;
  left: 70px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .video__text {
    top: 60px;
    font-size: 25px;
  }
}