.people-say__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 110px;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .people-say__title {
    width: 100%;
    margin-bottom: 50px;
  }
}