.header__wrapper {
  display: flex;
  margin: 70px 0 70px;
  align-items: center;
  max-width: 1050px;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    flex-direction: column;
    margin: 30px 0 30px;
    align-items: flex-start;
  }
}